/* 공통요소 */

body{

    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    word-break: keep-all;
    color: #232324;
    letter-spacing: -.02em;
}
body.scroll-hidden{
    overflow: hidden;
}
body.scroll-hidden .dimmed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.blind{
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0 );
	overflow: hidden;
}

.sc-title{
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 700;
    padding: 0 24px;
    text-align: center;
}


.sub-title{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 60px;
    padding: 0 30px;
}

.link-more{
    text-align: center;
    max-width: 100px;
    line-height: 52px;
    height: 52px;
    padding: 11px 22px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    /* font  */
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    vertical-align: top;
}
