/* 메인슬라이드 */
.container{margin: 0 auto;}
.sc-visual .swiper{
    /* @@ 높이태그는 여기만! 밑에선 100% */
    height: 100vh;
    width: 100%;
    position: relative;
}
.sc-visual .swiper-slide a{display: block; height: 100%;}

.sc-visual .img-box{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}
.sc-visual .img-box img{
    object-fit: cover;
    /* 이미지 움직임 대비 width 120%! */
    width: 120%;
    height: 100%;
    object-position: 0 center;
    transition: 5s;
 }
/* @@ windeow 창 10vw :  윈도우 창의 10분의1만큼 왼쪽으로 움직임
   @@ 본래 스와이퍼 텍스트명 .swiper-slide-active으로 설정되어있음
   > 이미지 움직임위치 설정 (object-position: 0 center;이 기본값) */
.sc-visual .swiper-slide-active .img-box img{
    object-position: -10vw center;
}


.sc-visual .cont-box{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}
.sc-visual .cont-box .title{
    /* 임의  */
    font-size: 1.7vw;
    font-weight: 500;
    margin-bottom: 50px;
}
.sc-visual .cont-box .desc{ 
    font-weight: bold;
    font-size: 55px;
    padding: 0 30px;
}
.sc-visual .cont-box .desc br{display: none;}

.sc-visual .swiper .swiper-pagination{
    position: absolute;
    bottom: 49px;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
}
.sc-visual .swiper-pagination .swiper-pagination-bullet{
    opacity: 1;
    margin: 0 4px;
    background-color: hsla(0,0%,100%,.5);
    height: 8px;
    border-radius: 4px;
}
.sc-visual .swiper-pagination .swiper-pagination-bullet-active{
    background: #fff;
    width: 20px;
}



/* 인기카드안내 */
.sc-card {
    padding-top: 160px;
    overflow: hidden;
}
.sc-card .sc-title{
    text-align: left;
}


/* <!-- @@@ 두 개의 리스트는 똑같아야지 흐를 때 끊김없이 이어질 수 있음 --> */
/* .card-wrap{} */
.card-wrap .inner{
    width: 3840px;
    /* // list(ul)의 두배 너비 만큼  */
    display: flex;
    animation: scroll 10s linear infinite;
}
.card-wrap .inner .card-list{
    width: 1920px;
    display: flex;
    padding: 10px 0;
}

.card-wrap .inner .card-item{
    flex: 1;
    padding: 10px;
}
.card-wrap .inner .card-item img{width: 100%;}
/* @@@ 키프레임 구현방법  > keyframe 화면 줄여도 똑같음 */
/* @keyframes scroll{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
} */





/* 비전 */
.sc-vision{margin: 160px 0;}
.sc-vision .video-box{
    width: 100%; position: relative;
    padding: 0 30px;
    box-sizing: border-box;
    /* 중앙에 맞춰짐 */
    margin: 0 auto;
    /* @@비디오 박스 말고 비디오에 width 100% */
}
.sc-vision .video-box video{
    object-fit: cover;
    margin: 0 auto;
    width: 100%;
    display: block;
}
.sc-vision .video-box .btn-control {
    opacity: 1;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.sc-vision .video-box:hover .btn-control{
    display: block;
}

.sc-vision .video-box .btn-control .btn{
    width: 80px;
    height: 80px;
    display: none;
}

.sc-vision .video-box .btn-control .btn.pause{
    display: block;
    background: url(../images/icon/btn-pause.png);
    background-size: 100%;
}
/* js조건 active */
.sc-vision .video-box.active .btn-control .btn.pause{
    display: none;

}
.sc-vision .video-box.active .btn-control .btn.play{
    display: block;
    background: url(../images/icon/btn-start.png);
    background-size: 100%;
}

.sc-vision .text-box.space{margin-top: 80px;}













/* 브랜드광고 */
.sc-brand{
    position: relative;
    background: url(../images/bg/brand01.jpg) no-repeat;
    width: 100%; 
    height: calc(100vh - 60px);
    /* @@@ 스크롤 이동 시, fixed로 이미지 고정 cover로 높이까지 고정 */
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}
.sc-brand .cont-wrap{
    position: absolute;
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    color: #fff;
    text-align: center;
}
.sc-brand .logo-box{width: 100%;}
.sc-brand .logo-box img{
    width: 540px; height: 70px;
    padding: 20px 30px;
}

.sc-brand .title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    padding: 20px 30px;
}
.sc-brand .desc{
    margin-bottom: 50px;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 1.75;
    padding: 0 30px;
}
.sc-brand .desc br{display: none;}
.sc-brand .link-more{
    display: block;
    margin: 0 auto;
    background-color: #f3f4f5;
    color: #232324;
}






/* 새 소식 */
.sc-news{
    padding: 120px 0;
    max-width: 820px;
    margin: 0 auto;
}
.sc-news .news-item+.news-item{
    border-top: 1px solid #f3f4f5;
    box-sizing: border-box;
}
.sc-news .news-item a{
    display: flex;
    overflow: hidden;
    height: 100%;
    /* background: #f00; */
    /* @ a링크영역확장을 li태그가 아닌 a태그에 패딩 */
    padding: 40px 20px;
}
.sc-news .news-item a:hover{background-color: rgba(243,244,245,.5);}
.sc-news .news-item .img-box{
    overflow: hidden;
    display: inline-block;
    margin-right: 40px;

}
.sc-news .news-item img{
    width: 200px; height: 160px;
    object-fit: cover;
    overflow: hidden;
    /* @@ 이미지 넘침방지 태그 */
    /* transition: transform .5s; */
    /* 이미지 테두리보더 */
    position: relative;
    
}

.sc-news .news-item img::after{
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0,0,0,.1);
    /* width: 100%;
    height: 100%; */
}
.sc-news .news-item img:hover{
    object-fit: cover;
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
}
.sc-news .news-item .cont-box{
    height: 160px;
    flex: 1;
    overflow: hidden;
}
.sc-news .news-item .cont-box .title{
    font-weight: 700;
    max-height: 64px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.6;
    color: #232324;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.sc-news .news-item .cont-box .cont{
    max-height: 52px;
    margin-bottom: 10px;
    line-height: 1.625;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sc-news .news-item .cont-box .date{
    color: #a6a7a9;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
}
.sc-news .link-more{
    display: block;
    background-color: #f3f4f5;
    /* 마진? 반응형 배우고 다시작성 */
    margin: 40px auto 0;
}



/* 브랜드 파트너 */
.sc-partner {
    padding: 120px 0 136px;
    background-color: #232324;
    overflow: hidden;
}
.sc-partner .title-box{
    margin-bottom: 60px;
    color: #fff;
    text-align: center;
}
.sc-partner .sc-title{
    padding: 0 24px;
    text-align: center;
}
.sc-partner .inner{
    display: flex;
    padding: 40px 0 60px;
    /* animation: scroll 10s linear infinite; */
    width: 3588px;
}
.sc-partner .inner .partner-list{
    display: flex;
    width: 1794px;
}
.sc-partner .partner-list .partner-item {
    flex: 1;
    padding: 0 3vw;
    text-align: center;
}
/* @@ 각각 이미지 너비가 달라서 높이만 맞춰줌 */
.sc-partner .partner-list .partner-item img{
    height: 4vw;
    object-fit: cover;
}
.sc-partner .link-more{
    display: block;
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.3);
    margin: 0 auto;
}


/* @@오답 keyframe 으로 혼자작성
.sc-font-service .scroll{position: relative;}
.sc-font-service .scroll-wrapper {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: inline-block;
    @keyframes font-scroll animation 추가
    animation: font-scroll 10s linear infinite;
    background-repeat: repeat-x;
    
}
.sc-font-service .scroll-wrapper ul{display: inline;}
.sc-font-service .scroll ul .scroll-slide{
    padding: 0 8px;
    display: block;
    width: 160px;
    height: 128px;
    padding: 16px;
    border-radius: 8px;
    background: #37373a;
    margin-bottom: 60px;

    display: inline-block;
    margin-right: 20px;
}
오답
@keyframes font-scroll{
  
    from{
        left: 100%;
        transform:translateX(100%);
        -moz-transform:translateX(100%);
        -webkit-transform:translateX(100%);
        -o-transform:translateX(100%);
        -ms-transform:translateX(100%);
    }
    to{
        left: 0;
        transform:translateX(0);
        -moz-transform:translateX(0);
        -webkit-transform:translateX(0);
        -o-transform:translateX(0);
        -ms-transform:translateX(0);
    }
} */




@media (max-width:  1240px){
    .sc-visual .swiper {height: calc(100vh - 20px);}
    .sc-brand .desc {font-size: 2.5vw;}
    

}
/*  */
@media (max-width:  1023px){
    .sc-visual .cont-box .title{font-size: 3.5vw;}
    .sc-visual .cont-box .desc{font-size: 50px;}
    .sc-visual .cont-box .desc span{display: block;}
    .sc-visual .cont-box .desc br{display: none;}

    .sc-news{max-width: 700px;}
    .sc-news .news-item a{padding: 50px 70px;}

 
    .sc-partner .partner-list .partner-item img{
        height: 5vw;
    }
 

}
/*  */

@media (max-width:  767px){
    .sc-title{font-size: 30px;}
    .sub-title{margin-bottom: 50px;}

    .sc-visual .cont-box .desc{font-size: 40px;}


    .sc-vision{margin-top: 120px;}
    .sc-vision .video-box .btn-control .btn{width: 60px; height: 60px;}

    .sc-card{padding-top: 120px;; line-height: 1.4;}
    .card-wrap .inner{
        width: 3200px;
    }
    .card-wrap .inner .card-list{
        width: 1600px;
    }
    .card-wrap .inner .card-item img{
        width: 140px; height: 220px;
    }

    .sc-news{max-width: 630px; padding: 90px 0;}
    .sc-news .news-item a{padding: 50px 60px;}
    .sc-news .news-item .img-box{margin-right: 30px;}
  
    .sc-news .news-item .cont-box{height: 90px;}
    .sc-news .news-item .cont-box .title{font-size: 16px;}
    .sc-news .news-item .cont-box .cont{font-size: 15px;}

    .sc-partner .partner-list .partner-item img{
        height: 6vw;
    }
}
/*  */
@media (max-width:  650px){
    .sc-title span{display: block;}

    .link-more{
        max-width: 90px;
        height: 40px;
        font-size: 14px;
        line-height: 14px;
    }
    .sc-brand .logo-box img{
        width: 380px;
        height: 50px;
        padding-top: 5vw;
    }
    .sc-brand .title{
        font-size: 28px;
        padding: 10px 0;
    }
    .sc-brand .desc{font-size: 15px;}
    .sc-news{max-width: 460px;}
    .sc-news .news-item a{padding: 50px 40px;}
    .sc-news .news-item .img-box{margin-right: 20px;}
    .sc-news .news-item img{width: 150px; height: 100px;}

    .sc-partner .partner-list .partner-item img{height: 8vw;}

}/*  추가 */
@media (max-width:  480px){
    .sc-title{font-size: 25px;}
    .sc-title span{display: block;}
    .sub-title{font-size: 14px;}
    .sub-title span{display: block;}
    .sub-title br{display: none;}

    .sc-visual .cont-box .title{font-size: 15px; margin-bottom: 30px;}
    .sc-visual .cont-box .desc{font-size: 30px; margin-bottom: 20px;}
  

    .sc-card{padding-top: 90px;; line-height: 1.4;}
    .card-wrap .inner{
        width: 2400px;
    }
    .card-wrap .inner .card-list{
        width: 1200px;
    }
    .card-wrap .inner .card-item img{
        width: 100px; height: 160px;
    }

    .sc-vision{margin: 90px 0;}

    .sc-brand .logo-box img{
        padding-bottom: 10px;
        width: 240px; height: 40px;
    }
    .sc-brand .title{
        font-size: 20px;
        line-height: 1.3;
        padding: 0;
    }
    .sc-brand .desc {
        margin: 20px 0;
        font-size: 14px;
        line-height: 1.5;
    }
    .sc-brand .desc br{display: block;}


    .sc-news .news-item img{
        width: 130px;
        height: 85px;
    }
    .sc-partner{padding: 70px 0 90px;}
    .sc-partner .partner-list .partner-item img{height: 12vw;}

 
    
    
}/*  */

@media (max-width:  320px){
    .sc-title{font-size: 20px;}
    .sub-title{font-size: 13px;}

    .card-wrap .inner{
        width: 2000px;
    }
    .card-wrap .inner .card-list{
        width: 1000px;
    }
    .card-wrap .inner .card-item img{
        width: 80px; height: 120px;
    }

    .sc-brand .title span{display: block;}

    .sc-news{min-width: 320px;}
    .sc-news .news-item a{padding: 30px 40px;}
    .sc-news .news-item .img-box{margin-right: 10px;}
    .sc-news .news-item img{width: 100px; height: 80px;}
    .sc-news .news-item .cont-box{height: 60px;}
    .sc-news .news-item .cont-box .title{
        font-size: 14px;
        margin-bottom: 0;
    }
    .sc-news .news-item .cont-box .cont{
        font-size: 12px;
        margin-bottom: 0;
        display: none;
    }
    .sc-news .news-item .cont-box .date{font-size: 12px;}

    .sc-partner .partner-list .partner-item img{
        height: 16vw;
        padding: 0;
    }

}



